{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'introduce.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Cute+Font|Gugi|Song+Myung|Yeon+Sung&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="backgroud">
    <div class="title">
      <h1>청소년을 위한 재무정보</h1>
    </div>
    <div class="why">
        <div class="text">
          <h2>대안을 제시해주지 않는 사회</h2>
          <p style="white-space: pre-wrap;">
    각 시기별로 유행은 조금씩 바뀔지언정 학생들이 선호하는 직업은 항상 편중되어 나타납니다. 소위 '사'자가 붙는 전문직이라던가 철밥통이라 불리는 선생님, 공무원 등이죠. 이러한 직업에 학생들의 꿈이 몰리는 이유가 무엇일까요? 저는 사회가 만들어낸 공포 때문이라고 생각합니다. 심지어 대학생들도 실무를 접하기 전까지는 저러한 직업들이 무슨 일을 하는 것인지 정확히는 모릅니다. 잘 알지도 못하는 직업을 희망하게 되는 가장 큰 이유는 부모님과 주변 어른들이 그러한 직업을 가져야만 '인간다운' 생활을 영위할 수 있는 소득을 유지할 수 있다고 겁을 주기 때문입니다. 그런데 정말로 그러한가요? 제가 입시를 준비하던 2012년 무렵에는 한의사의 장래가 매우 불투명하다는 식의 루머가 떠돌았습니다. 저희 부모님도 그 소문을 그대로 제게 전하셨고, 저 역시 '그런가보다' 하고 수긍하고 넘어갔습니다. 여기서 한의사의 장래가 불투명하다는 것은 무엇을 근거로 하는 말이었을까요. 실제로 그 당시 한의사의 장래가 불투명했을 수 있습니다. 아니 땐 굴뚝에 연기나지 않는다고, 이러한 항간에 떠도는 소문에 사람들의 직관이 녹아있어 마냥 루머로 치부할 수만은 없을지도 모릅니다. 그러나 지금은 보다 객관화되고 이성적인 근거를 바탕으로 사람들을 설득해야 하는 시대입니다. 학생들이 향후 적어도 6~70년 동안 영위하게 될 삶의 근간이 되는 진로에 대한 정보를 '카더라'에 맡겨서는 안 됩니다. 어떤 직업을 가지면 예상되는 평균 소득은 어느 정도이며, 그러한 소득을 여러 분야에 어떻게 지출하면 어떠한 삶을 영위할 수 있다고 수치화된 객관적인 데이터를 제공해줘야만 합니다. 
    
    사회에 존재하는 어떤 자원이든 한정되어 있기 마련입니다. 모두가 판검사가 되고 싶다고 해서 판검사를 시켜줄 수는 없습니다. 학생들이 희망하는 직업이 지나치게 편중되어 있는 한 반드시 소수만이 그러한 직업을 가지는 데 성공할 수 있고, 다수의 탈락자는 스스로를 실패자로 낙인찍고 인생을 방황하게 됩니다. 사회의 적재적소에서 자신의 능력을  펼칠 수 있는 젊은이들을 특정 분야로 몰고가는 것은 단순히 개인의 자아실현의 문제뿐만 아니라 사회적으로도 상당한 비효율을 초래합니다. 이러한 현상을 해소하기 위해서는 많은 대안들을 인정해줘야 하고, 그러한 대안에 대한 정보를 정확하게 전달해줘야만 합니다. 
          </p>
        </div>
        <img src="{% static '안정지향.png' %}" />
    </div>
    <div class="how">
      <img src="{% static '획일화.jpg' %}">
      <div class="text">
        <h2>HOW?</h2>
        <p style="white-space: pre-wrap;">
    해당 서비스의 포인트는 두 가지입니다. '들어올 돈'과 '나갈 돈'입니다. 해당 서비스의 목적은 궁극적으로 학생들의 진로 선택에 도움이 되는 정보를 제공하기 위함입니다. 따라서 '들어올 돈'은 직군별로 벌어들이는 평균 소득의 범위를 제공해줘야 합니다. 또한 '나갈 돈'은 일종의 보기 쉬운 함수의 형태로 제공해야 합니다. 예를 들어, 특정 소득이 있다고 할 때 월마다 얼마를 저축하면 식료품비에는 얼마, 의류에는 얼마, 월세에는 얼마를 쓸 수 있는지를 보여주는 것입니다. 의류에 소비를 많이 하고 싶은 학생이라면 의류에 가중치를 많이 두면 나머지 부분에서는 어느 정도를 포기하게 되는 것인가 이해하기 쉽게 정보를 제공해야 합니다. 
    
    저는 통계학에도, 가계 재무에도, 심지어 프로그래밍에도 문외한입니다. 이런 것들에 지식을 쌓아가며 고쳐야 할 부분이 많을 것이고 그 기간도 상당할 것으로 예상되지만, 한국에 반드시 필요한 서비스라고 생각합니다. 
        </p>
      </div>
    </div>
  </div>
</body>

</html>